# Environment
.env
venv/
env/
__pycache__/
*.py[cod]
*$py.class
node_modules/


# Firebase credentials
config/*.json

# Distribution / packaging
dist/
build/
*.egg-info/

# Log files
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 